
{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>albumId</th>
                    <th>id</th>
                    <th>title</th>
                    <th>url</th>
                    <th>thumbnailUrl</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{data.albumId}}
                    </td>
                    <td>
                        {{data.id}}
                    </td>
                    <td>
                        {{data.title}}
                    </td>
                    <td>
                       <img src="{{data.url}}" alt=""> 
                    </td>
                    <td>
                      <img src="{{data.thumbnailUrl}}" alt="">  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
{% endblock %}

