{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>username</th>
                    <th>more details</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.name}}
                    </td>
                    <td>
                        {{i.username}}
                    </td>
              
                    <td>
                        <a href="{% url 'click' i.id %}">click here</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
